{
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"printWidth": 130,
	"jsxSingleQuote": true,
	"endOfLine": "auto",
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"pugAttributeSeparator": "none",
	"pugWrapAttributesThreshold": 1
}
