.button {
  padding: 6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: transparent;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid currentColor;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: background-color, text-decoration-color, outline-color;
}

.button:focus {
  outline-color: transparent;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration-color: currentColor;
}

.button:focus-visible {
  outline-color: currentColor;
}
