.result {
  flex: 0 1 711px;
}

.result__video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 711 / 386;
}

.result__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
