*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}
